Source: conky-manager2
Section: utils
Priority: extra
Maintainer: Arkadiusz Felinczak <arek_felinczak@protonmail.com>
Build-Depends: debhelper (>= 8.0.0), meson, valac, libgtk-3-dev, libgee-0.8-dev, libjson-glib-dev
Standards-Version: 4.5.0
Homepage: http://teejeetech.blogspot.in/

Package: conky-manager2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, coreutils, conky | conky-all | conky-std, p7zip-full, rsync, imagemagick
#Recommends: 
Description: Utility for managing Conky configuration files
 Utility for managing Conky configuration files
