[Desktop Entry]
Name=Conky Manager
MimeType=
Exec=conky-manager2
Type=Application
GenericName=Conky Theme Manager
Terminal=false
Icon=conky-manager2
Caption=Conky Theme Manager
X-KDE-StartupNotify=false
Categories=Utility
InitialPreference=9
Name[en_US]=Conky Manager
